body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.header{
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  height: 90px;
  justify-content: space-between;
}

.header a{
  color: white;
  text-decoration: none;
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0px 10px;

}

.menu{
  height: inherit;
  padding-right: 20px;
}

.header ol{
  display: flex;
  height: inherit;
}

.header ol li{
  height: inherit;
}

ol,
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

figure{
  margin: 0;

}

.hero{
  height: 300px;
  background-image: url("../Imagenes/Foto.jpeg");
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #1b2127;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
  margin: 0;
}

h1{
  font-family: "Fjalla One", sans-serif;
  line-height: 1.5;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -0.2px;
  color: white;
  
}

h1 strong{
  color: #026fff;
}

.portfolio{
  background: #fafafa;
}

.project{
  border: 1.5px solid grey;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  padding: 25px;
  background: white;
  display: flex;
}

.project-details{
  width: 500px;

}

.project-imageContainer{
  width: 500px;
}

.project-image{
  width: 500px;
}

.course{
  border: 1.5px solid grey;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  padding: 25px;
  background: white;
  display: flex;
}

.course-details{
  width: 500px;
}

.course-imageContainer{
  width: 500px;
}

.course-image{
  width: 500px;
}


