body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header a {
  color: white;
  text-decoration: none;
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0px 10px;
}

.menu {
  height: inherit;
  padding-right: 20px;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.hero {
  height: 300px;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla One", sans-serif;
}

h1 {
  font-family: "Fjalla One", sans-serif;
  line-height: 1.5;
  font-size: 40px;
  font-weight: normal;
  letter-spacing: -0.2px;
  color: white;
  margin: 0;
}

.hero h1 {
  font-size: 30px;
}

h1 strong {
  color: #026fff;
}
h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.portfolio {
  background: #fafafa;
  padding: 20px;
}

.project {
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-details {
  width: 50%;
}

.project-title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.project-course {
  margin: 10px 0;
}

.project-date {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project-imageContainer {
  width: 50%;
}

.project-image {
  width: 100%;
}

.project strong {
  font-family: "Fjalla One", sans-serif;
}

.course {
  border: 1px solid grey;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course-details {
  width: 50%;
}

.course-title {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}

.course-date {
  margin: 10px 0;
}

.course-description {
  font-size: 20px;
}

.course-imageContainer {
  width: 50%;
}

.course-image {
  width: 100%;
}

.course strong {
  font-family: "Fjalla One", sans-serif;
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
}

.experience img {
  width: 480px;
  height: 270px;
  object-fit: cover;
}

.experience {
  margin: 1%;
  flex-shrink: 0;
  width: 48%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f4fbff;
}

.experience-details {
  margin: 20px 40px;
  background-color: white;
  margin-top: -50px;
  position: relative;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.experience-description {
  text-align: left;
}

.experience-list-title {
  margin-left: 20px;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer img {
  vertical-align: middle;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-link {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  margin: 0 10px;
}

.social-link.twitter {
  background-image: url("../Imagenes/twiter.svg");
}

.social-link.facebook {
  background-image: url("../Imagenes/facebook.svg");
}

.social-link.instagram {
  background-image: url("../Imagenes/instagram.svg");
}

.social-link.github {
  background-image: url("../Imagenes/git.svg");
}

.form-email input {
  border-color: gray;
  padding: 10px 20px 10px 25px;
  background-image: url("../Imagenes/email.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  border-radius: 5px;
  border-style: solid;
}

.form-email button {
  display: block;
  margin-top: 10px;
  background: transparent;
  color: white;
  padding: 5px 30px;
  border-radius: 5px;
}

.form-email h3 {
  font-family: "Source Sans Pro", sans-serif;
}
.container {
  max-width: 1000px;
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}
@media screen and (max-width: 1024px) {
  body {
    /* border: 10px solid blue; */
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
  }
  .header .logo {
    text-align: center;
  }
  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  .project-details {
    width: auto;
  }

  .project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project-course {
    font-size: 0.7em;
  }
  .project-date {
    font-size: 1em;
  }
  .project-description {
    font-size: 0.8em;
  }
  .course {
    display: block;
  }
  .course-imageContainer {
    width: auto;
    text-align: center;
  }
  .course-details {
    width: auto;
    font-size: 16px;
  }
  .course-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .course-date {
    font-size: 1em;
    margin: 0.4em 0;
  }
  .course-description {
    font-size: 0.8em;
  }

  .project-course,
  .project-date {
    margin: 0.4em 0;
  }
  .experience {
    width: auto;
    flex-shrink: initial;
  }
  .experience-list {
    display: block;
  }
  .experience img {
    width: 100%;
  }
  .experience-list-title {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .project-details {
    width: auto;
    font-size: 12px;
  }
  .course-details {
    width: auto;
    font-size: 12px;
  }
  .experience-details {
    margin: -2em 0.5em 0.5em;
    padding: 1em;
  }
  .experience-list-title {
    font-size: 1.2em;
    text-align: center;
  }
  .experience-title {
    font-size: 1em;
  }
  .experience-descrition {
    font-size: 0.8em;
  }
  .functions {
    font-size: 0.7em;
  }
}
@media screen and (max-width: 320px) {
  .project-details {
    width: auto;
    font-size: 10px;
  }
  .course-details {
    width: auto;
    font-size: 10 px;
  }
  .experience-list-title {
    font-size: 1em;
    text-align: center;
  }
  .experience-title {
    font-size: 0.9em;
  }
  .experience-descrition {
    font-size: 0.8em;
  }
  .functions {
    font-size: 0.7em;
  }
}
